/*Possible colors for website: #DEACF5, #9754CB, #C3ABDB, #9D92D6
video: Portfolio Website using HTML & CSS | personal portfolio website - 3s Webcoder
Work on:
-Add @media Query
*Make sure:
    -everything is working properly before moving on
    -everything looks presentable
    
*/
body{
    font-family: 'EB Garamond';
    background-color: #fff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

a{
    color: #fff;
    text-decoration: none;
    list-style-type: none;
}

/*Navigation Bar*/
nav{
    width: 100%;
    margin: auto;
    padding-top: 0;
    position: fixed;
    z-index: 1000;
}

nav.mobile{
    display: none;
}
nav ul{
    background-color: #DEACF5;
    width: 100%;
    height: 80px;
    padding: 0;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style-type: none;
    display: flex;
    flex-direction: row;    

}

nav ul li a{
    font-family: 'EB Garamond';
    padding: 5px 15px;
    margin: 15px;    
}

nav ul li a:hover{
    background-color: #9D92D6;
    border-radius: 15%;
    font-weight: bold;
    box-shadow: 0 0 5px #9754CB;
}

/*A little about...*/

.top{
    width: 80%;
    max-width: 850px;
    height: 80vh;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .right{
    margin-top:-50px;
    margin-left: 25px;
}

.left{
    text-align: center;
    font-family: 'Dancing Script';

}

button{
    width: fit-content;
    font-weight: bold;
    border: none;
    border-radius: 80px;
    outline: none;
    padding: 15px 20px;
    margin: 2em;
    background-color: #DEACF5;
    color: #fff;
    box-shadow: 0 0 5px#9754CB;
    /*transition: 2s linear;*/
}

button:hover{
    background-color: #9D92D6;
    padding: 12px 17px;
    margin: 2.2em;
    font-weight: bold;
    box-shadow: 0 0 5px #9754CB;
}

/*Picture on right side of intro*/
.right{
    width: 100%;
    height: 50%;
    overflow: hidden; 
    clip-path: path("M 0 300 L 0, 75 A 5,5 0,0,1 150,75 L 200 2000 z");
}

.right img{
    width: 200px;
    height: auto;
    margin-top: -30px;
    margin-left: -15px;
    
}

/*About me*/
.about-me{
    width: 80%;
    max-width: 850px;
    height: 550px;
    margin: auto;
    padding: 0;
    display: flex;
    place-items: center;
    box-shadow: 0 0 1em #9754CB;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}

.about-img img{
    width: auto;
    height: 350px;
    margin-left: 5px;
    margin-right: 0;
}

.bottom .about{
    margin: 15px;
    padding-bottom: 50px;
    justify-content: space-between;
}

.about p{
    text-align: center;
    max-width: 550px;
    margin-left: 0;
}

/*My projects: 
This is the button that redirects to the #project section*/

.myProjects{
    width: 60%;
    max-width: 850px;
    place-items: center;
    padding: 50px;
    margin-left: 15%;
    text-align: center;
    align-self: center;
    justify-content: space-between;
    position: relative;
    
}

.myProjects .box{
    padding: 15px 20px;
    margin: 0 15px;
    box-sizing: border-box;
    background-color: #DEACF5;
    color: #fff;
    box-shadow: 0 0 5px#9754CB;
    position: inherit;
    left: 27%;
    flex-shrink: 1fr;
}

.myProjects .box:hover{
    background-color: #9D92D6;
    padding: 12px 17px;
    margin: 0 20px;
    font-weight: bold;
    box-shadow: 0 0 5px #9754CB;
}

/*Footer*/
footer{
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: #DEACF5;
    box-shadow: 0 0 15px #9754CB;
    padding-bottom: 150px;
    margin: auto;
    box-sizing: border-box;
}

.contact-me{
    padding-top: 15px;
    margin-top: 250px;

}

.contact{
    margin: 0;
    letter-spacing: 1.15px;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.contact h5{
    margin-top: 0;
}

.contact h5 a:hover{
    background-color: #9D92D6;
    border-radius: 15%;
    font-weight: bold;
    box-shadow: 0 0 5px #9754CB;
}

/*Certification*/

.cert{
    width: 100%;
    max-width: 1200px;
    padding-top: 100px;
    text-align: center;
}

.cert h4{
    text-align: center;

}

/*coursera*/
.sera{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.cert img{
    width: auto;
    height: 200px;
    text-align: center;
    margin: 20px;
}

.cademy{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Projects section*/

#projects{
    max-width: 1400px;
    justify-content: center;
    margin: 15px;
}

#projects h3{
    max-width: 420px;
    margin-bottom: 50px;
    text-align: center;
}

.projects{
    width: 85%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 1em #9754CB;
    margin: auto;
}

.projects div.proj{
    width: 100%;
    min-width: 250px;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.proj .cheat,
.proj .cozy,
.proj .website,
.proj .vm{
    width: 80%;
    margin: 15px;
}

#projects img{
    width: auto;
    height: 200px;
}

#projects p{
    max-width: 420px;
    margin: 10px;
}

.proj a{
    color: #000;
    border: .5mm ridge #DEACF5;
    border-radius: 10%;
}

.proj a:hover{
    background-color: #DEACF5;
    font-weight: bold;
    box-shadow: 5px 3px 3px #deacf5;
}

/*@media query from here on out */

@media screen and (max-width: 950px){

/*A little about...*/

.top{
    margin: 0 5%;
}

/*My projects: buttons that redirects to the #project section*/

.myProjects{
    width: 100%;
    padding: 0;
    margin: 50px 0;
    margin-left: 50px;
    flex-wrap: wrap;
    justify-content: center; 
}

.myProjects .box{
    margin: 5%;
}

/*Tables: Certificates*/

.cert img{
    width: auto;
    height: 250px;
    margin-right: 15px;
}

/*Project section*/

.projects{
    width: 100%;
}

.projects div.proj{
    flex-wrap: wrap;
}

.proj .cheat,
.proj .cozy,
.proj .website,
.proj .vm{
    width: 45%;
    margin: 5px;
}

#projects img{
    height: 150px;
}

}

@media screen and (max-width: 700px){

    /*A little about...*/

.top{
    position: relative;
    top: -50px;
    left: -50px;
}

.top p{
    width: 350px;
    top: 150px;
    position: absolute;
}

.left{
    left: 100px;
    position: absolute;
}

button{
    width: 150px;
    position: absolute;
    top: 250px;
}

/*Picture on right side of intro*/
.right{
    width: 200px;
    height: 200px;
    clip-path: circle(40%);
    position: absolute;
    left: 215px;
    top: 430px;
}

.right img{
    width: 250px;
    margin-top: -65px;
    margin-left: -10px;
}

/*About me*/
.about-me{
    width: 95%;
}

.about-me div.about-img{
    width: 300px;
    height: 300px;
    overflow: hidden;
    clip-path: circle(35%);
    margin: 0;
    padding: 0;
}

.about-img img{
    width: 180px;
    height: auto;
    margin-top: 60px;
    margin-left: 5px;
}

.bottom .about{
    margin: 0 15px;
    padding-bottom: 0;
    word-wrap: break-word;
}

/*My projects: 
This is the button that redirects to the #project section*/

#projects{
    width: 100%;
    margin: 0;
}

.myProjects{
    width: 100%;
    place-items: center;
    margin: 0;    
}

.myProjects .box{
    width: 180px;
    padding: 15px 10px;
    margin: 50px 5px;
}

.myProjects .box:hover{
    padding: 11px 6px;
    margin: 50px 5px;
}

/*Certification*/

/*coursera*/

.cert img{
    width: 95%;
    height: auto;
}

/*Projects section*/

#projects{
    width: 100%;
    margin: 0;
}

.projects{
    width: 100%;
}

.proj .cheat,
.proj .cozy,
.proj .website,
.proj .vm{
    width: 100%;
   margin: 15px 15%;
}

}

@media screen and (max-width: 500px){

    /*navigation*/

    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    /*A little about...*/

    .top{
        width: 300px;
        left: -100px;
    }

    .top p{
        width: 200%;
    }
    
    /*Picture on right side of intro*/
    .right{
    left: 205px;
    top: 425px;
    }
    
    /*About me*/
    .about-me{
        width: 100%;
        height: fit-content;
        display: block;
        text-align: center;
    }
    
    .about-me div.about-img{
        width: 250px;
        height: 250px;
        margin-top: -40px;
        margin-left: 80px;
        clip-path: circle(45%);
  
    }
    
    .about-img img{
    width: 150px;
    }
    
    .bottom .about{
        margin: 25px;
    }
    
    /*My projects: 
    This is the button that redirects to the #project section*/
    
    .myProjects .box{
        width: 80%;
        margin: 25px 10px;
    }
    
    .myProjects .box:hover{
        margin: 29px 10px;
    }
   
/*Certification*/

/*coursera*/

.cert img{
    width: 85%;
}

/*Projects section*/

.proj .cheat,
.proj .cozy,
.proj .website,
.proj .vm{
    width: 85%;
   margin: 25px;
}

}

@media screen and (max-width: 350px){

    /*navigation*/

    nav.desktop{
        display: none;
    }

    nav.mobile{
        display: block;
    }

    /*A little about...

    .top{
        width: 300px;
        left: -100px;
    }

    .top p{
        width: 200%;
    }
    
    /*Picture on right side of intro
    .right{
    left: 205px;
    top: 425px;
    }
    
    /*About me*/
    
    .about-me div.about-img{
        margin-left: 30px;  
    }
    
    .bottom .about{
        margin: 8px;
    }

/*Projects section*/

.proj .cheat,
.proj .cozy,
.proj .website,
.proj .vm{
    width: 50%;
   margin: 5px;
}
/*
.proj .vm img{
    width: auto;
    height: 50px;
}
}


/*Work on @media for */